Django>=5.0,<6.0
psycopg2-binary
python-dotenv
whitenoise[brotli]
cloudinary
django-cloudinary-storage
gunicorn
requests
Pillow
reportlab
#CLOUDINARY_account & render = cirqen@gmail.com
#pip install -r requirements.txt && python manage.py collectstatic --noinput && python manage.py migrate
#gunicorn maryann_site.wsgi:application --timeout 120 --workers 1 --threads 2
#https://kesley.onrender.com/1dfd9aef-8e38-4fc5-a8df-16e467dec5c1
